body {
    margin: 0; /*removes invis space on whole page */
}

/*-------first phase----------*/

.hero { /*affects the whole first phase */
    background-color: #1f2937;/* changes color */
    display: flex; /* activates flex */
    flex-direction: column; /* flexes the two items as colums */
    
}


.header { /*affects left and right items */
    display: flex;
    align-items: center; /*centers left rigfht items up/down */
    margin-bottom: 80px; /* creates space under ityems */
    justify-content: center; /* puts the items to center */
    
}



.logo { /* affects header logo*/
    margin-right: 230px; /* creates space between the logo and the links */
    font-size: 24px;
    color: #e5e7eb
}



.titleone {
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
}

ul, .text {
    list-style-type: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
    padding: 0;
}

.text {
    margin-bottom: 8px;
}

.modal {
    padding: 16px;
    width: 400px;
}

button {
    padding: 8px 20px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}


a {
    text-decoration: none;
    color: #e5e7eb;
}

/*---------------second phase--------------------------*/

img {
    width: 100px;
    height: 100px;
}

.right img {
    width: 340px;
    height: 170px;
}

.topmid {
    text-align: center;
    padding: 100px;
}

.title {
    font-size: 36px;
    font-weight:900;
    margin-bottom: 32px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;

}

.info {
    max-width: 200px;
}

/*----------------third phase-----------------*/

.botmid {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #e5e7eb;
    padding: 38px;
}

.fbody {
    width: 550px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    
}

.quote {
    font-weight: bold;
    margin-left: 300px;
}

/*-----------phase 4-----------------*/
.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont {
    background: royalblue;
    justify-content: center;
    align-items: center;
    margin: 100px;
    padding:28px;
    display: flex;
    width: 700px;
    border-radius: 10px;
}

.call {
    font-weight: bolder;
    font-size: 20px;
    color: #f9faf8;
}

.other {
    color: #e5e7eb;
}

.signdown {
    margin-left: 60px;
    border: 2px solid #f9faf8;
}

/*---------------------------------------------*/

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px;
}

